<!DOCTYPE html>
<html>
<head>
  <title>Checkout canceled</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <section class="container mt-5">
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Order Canceled</h4>
      <p>Forgot To Enter Correct Payment Details . Please Try Again</p>
    </div>
  </section>

  <!-- Bootstrap JS (optional) -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
